Functional requirements

respond to a hail for an elevator by direction
- input
  - direction
  - 'up' or 'down' 
- input
  - number
  - the floor the call came from 
  - has to be a valid floor number
- output
  - success/fail
- behavior
  - fails if direction is invalid (top/bottom)
  - fails if elevator unavailable
  - fails if hail-by-floor is required

respond to a hail for an elevator by destination floor 
- input 
  - number
  - represents floor the user desires
  - has to be a valid floor number
- input
  - number
  - the floor the call came from 
  - has to be a valid floor number
- output
  - success/fail
- behavior
  - fails if elevator unavailable

monitor floor number as it changes
- no input
- output
  - number
  - represents elevator position

monitor direction as it changes
- no input
- output
  - direction
  - 'up', 'down', or none

move passengers
- input
  - number
  - represents hailing floor number
  - has to be a valid floor number
- input
  - number
  - represents next destination floor number
  - has to be a valid floor number
- output
  - success/fail
- behavior
  - on arrival, cancel hail
  - destination floor may be stored from previous hails
  - doors must open and close at least once before success
  - if no destination floor before door close, wait
  - when moving, update floor number
