Non-functional requirements

Security level
Reasonable and customary. Unlikely to be a direct target, but preventing exploits still important. 

Timing requirements
UI should respond to most events within 250ms, not more than 750ms
System behaviors must model typical elevator timing

Reliability considerations
If used with a real elevator, failure could trap passengers. In that case, error detection and recovery are critical.
If used as a mock, failure is unimportant.

Minimum environment
Code should be in a format that can run on client and server. 
Client and server requirements should be typical for a web app.

Maintainability
Single elevator operation is acceptible at first, but multi-elevator operation will be required eventually.

Definition of success
- all of the requirements can be demonstrated
- a typical user would recognize UI behavior  
